<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let user of users">
      <div class="card mt-5">
        <img [src]="user.image" class="card-img-top" alt="user image">
        <h3 class="card-title text-center">{{user.name}}</h3>
        <div class="card-body text-center">
          <p class="card-text">{{user.address}} <br> {{user.phone}}</p>
          <small>{{user.created_at}}</small>
          <small>{{user.updated_at}}</small>
          <div class="card-footer">
            <a class="btn btn-danger btn-round" href="">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

